@font-face {
    font-family: Vazirmatn;
    src: url('../font/Vazirmatn-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Vazirmatn;
    src: url('../font/Vazirmatn-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Vazirmatn;
    src: url('../font/Vazirmatn-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Vazirmatn;
    src: url('../font/Vazirmatn-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Vazirmatn;
    src: url('../font/Vazirmatn-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Vazirmatn;
    src: url('../font/Vazirmatn-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Vazirmatn;
    src: url('../font/Vazirmatn-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Vazirmatn;
    src: url('../font/Vazirmatn-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Vazirmatn;
    src: url('../font/Vazirmatn-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

:root {
    --font-color: rgba(46, 45, 45, 0.75);
}

* {
    transition: all 200ms ease-in !important;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    background: #9CAF88;
    color: var(--font-color);
    font-family: Vazirmatn;

}

html,
body{
    width: 100%;
    overflow-x: hidden;
}

header {
    width: 100%;
    text-align: center;
}

header img {

    max-height: 40px;
    float: left;
}

header > section {
    width: calc(100% - 20px);
    max-width: 800px;
    height: 70px;
    margin: 18px auto auto;
    padding: 15px 20px;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: #FDF9F3;
    box-shadow: 1px 1px 10px 1px #00000020;

}

header div {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;

}

header div input {
    font-size: 16px;
    font-family: Vazirmatn;
    font-weight: 300;
    border-radius: 5px;
    border: 2px solid rgba(69, 108, 64, 0.37);
    color: #5c5c5c;
}

header .header-link {
    font-size: 20px;
    color: var(--font-color);
    text-decoration: none;
    font-weight: 900;
    margin: 0 10px;
    padding: 5px;

}

header a:hover {
    text-decoration: underline;
}

.products {
    max-width: 847px;
    margin: auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 20px;
}

.product-box section {

    max-width: 250px;
    margin: 15px;
    height: 100%;
    background-color: #FDF9F3;
    border: 1px solid #E3E4E6;
    border-radius: 10px;
    overflow: auto;
    padding-bottom: 6px;
}

.price {
    font-size: 16px;
    font-weight: 500;

}

td.price{
    font-weight: normal;
}
.product-box section > img {
    width: 100%;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;

}

.product-box section > h3 {
    margin: 5px;
    color: var(--font-color);
}

.add-to-cart-btn {
    text-decoration: none;
    padding: 5px;
    font-size: 12px;
    color: #FDF9F3;
    border: 2px solid #E3E4E6;
    border-radius: 9px;
    background: #4C4C4C;
    position: absolute;
    left: 20px;
    top: 20px;
    opacity: 0;
    font-weight: 300;

}

.add-to-cart-btn:hover {
    border: 2px solid #E3E4E6;
    background: rgba(76, 76, 76, 0.38);
}

.add-to-cart-btn2 {
    text-decoration: none;
    padding: 5px;
    font-size: 16px;
    color: #FDF9F3;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    background: #4C4C4C;
    font-weight: 400;
    display: flex !important;
    justify-content: center;

}

.add-to-cart-btn2:hover {
    border: 2px solid #FDF9F3;
    background: rgba(52, 76, 52, 0.38);
}

.product-box {
    position: relative;
}
.product-box section:hover {
    box-shadow: 1px 1px 10px 1px rgba(50, 74, 47, 0.75);
}
.product-box:hover .add-to-cart-btn {
    opacity: 1;

}

.product-box section > p {
    font-size: 12px;
    margin: 0 10px;
    font-weight: 300;
}


a.icon {
    display: inline-flex;
    align-items: center;
}

a.icon > img {
    width: 20px;
    margin-right: 5px;
}

.banner{
    display: block;
    max-width: 800px;
    width: 100%;
    margin: 10px auto;
    border-radius: 35px;
}

.tag {
    display: inline-flex;
    align-items: center;
    padding: 2px 5px;
    font-size: 14px;
    border-radius: 10px;
    font-weight: 200;
}

.tag > img {
    width: 20px;
    margin-left: 5px;
}

.tag.delivery {
    border: 1px solid #d4af37;
    background-color: #fef5e7;

}

.tag.wallet {
    border: 1px solid #9740ed;
    background-color: #fef5e7;
}

.tag.big {
    font-size: 18px;
    font-weight: 500;
    margin: 5px;
}

.product-detail-box {
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    margin: 50px auto auto;
    background: #FDF9F3;
    border-radius: 10px;
    border: 2px solid rgba(87, 113, 81, 0.65);
    padding: 10px;
}

.product-detail-box > div > img {
    max-width: 280px;
    margin-left: 10px;
    width: 100%;

}

.product-detail-box > section {
    max-width: 500px;
}

.product-detail-box h1 {
    margin: 5px;
}

.product-detail-box h6 {
    font-size: 13px;
    margin: 5px;
}

.product-detail-box .price-box{
    display: block;
    /*background: #FDF9F3;*/
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    color: #453939;
    font-weight: 500;
    font-size: 16px;
}

.product-detail-box .price-box {
    margin: 20px;
    text-align: center;
}

.cart .pay-btn {
    text-decoration: none;
    color: var(--font-color);
    font-size: 20px;
    float: left;
    border-radius: 5px;
    border:3px solid #FDF9F3;
    padding: 10px;
    margin: 5px;
    font-weight: 700;
}
.cart .pay-btn:hover {
    color: var(--font-color);
    font-size: 22px;
    background: #FDF9F3;
}
.red-btn {
    text-decoration: none;
    color: #c50d0d;
    font-size: 20px;
    border-radius: 15px;
    border:3px solid #c50d0d;
    padding: 6px;
    margin: 5px;
    font-weight: 700;
}
.red-btn:hover {
    color: #FDF9F3;
    font-size: 22px;
    background: #bd1919;
}

.product-description-box {
    max-width: 1100px;
    margin: auto;
}

.product-description-box p {
    text-align: justify;
}

.similar-products-box {
    max-width: 1100px;
    margin: auto;
}

#header-menu-btn {
    float: right;
    display: none;
}

#header-menu-close-btn {
    text-align: right;
    width: 100%;
    margin: 10px;
    font-size: 20px;
    display: none;
}

.simple-box {
    background: rgba(253, 249, 243, 0.71);
    border: 2px solid #02570d;
    border-radius: 25px;
    max-width: 800px;
    margin: 20px auto auto;
    padding: 10px;
    overflow: auto;
}
.simple-box p{
    text-align: justify;
    padding: 5px 10px;
}

.simple-box h1 {
    margin: 0 10px;
    text-align: right;
}

.cartitem-btn {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    padding: 2px;
    text-align: center;
    display: inline-block;
    margin: 5px;
    text-decoration: none;
    color: var(--font-color);
}

.cartitem-decrease {
    background: rgba(255, 0, 0, 0.45);
}


.cartitem-increase {
    background: rgba(0, 128, 0, 0.45);
}

table.cart {
    margin: auto;
    width:100%;
    overflow-x:auto;
    display:block;

}

table.cart td{
    padding: 5px;
    border-bottom: 2px solid rgba(80, 110, 73, 0.65);
}

#login-box {

}

#register-box {
    display: none;
}

.simple-box input, .simple-box textarea , .simple-box select {
    color: var(--font-color);
    font-size: 16px;
    max-width: 180px;
    font-family: Vazirmatn;
    display: block;
    border-radius: 10px;
    border: 1px solid rgba(75, 104, 71, 0.53);
    margin: 10px auto;
    padding:2px 5px;
}

.simple-box.big input , .simple-box.big textarea , .simple-box.big select {
    max-width: 400px;
    width: 100%;
}
.simple-box input[type='submit'] {
    all: unset;
    border-radius: 10px;
    width: 100%;
    max-width: 191px;
    cursor: pointer;
    margin: auto;
    display: block;
    text-align: center;
    background: white;
    padding: 3px 4px;
    color: var(--font-color);
    border: 2px solid #656a63;
    font-weight: 700;
}
.simple-box input[type='submit']:hover {
    background: rgb(102, 140, 97);
    color: #eef0f3;
    border: 2px solid #656a63;
}
#register-box , #login-box{
   text-align: center;
}

.eggy .title{
    font-weight: 800 !important;
    font-size: 19px !important;
}
.eggy .message{
    font-weight: 400 !important;
    font-size: 14px !important;
}

.eggy>div.info svg:first-of-type {
    fill: #34456e !important;
}
.eggy>div.info {
    border: 2px solid #305c7e !important;
}
@media (max-width: 725px) {
    header > section > div {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        background: #FDF9F3;
        height: 0;
        overflow: hidden;
        z-index: 99;
    }

    header > section > div > * {
        display: block;
        margin-top: 5px;

    }

    #header-menu-btn {
        display: block;
    }

    #header-menu-close-btn {
        display: block;
    }
}
img{
    max-width:100%;
    height:auto;
}