<div class="product-box">
    <a style="all:unset;cursor: pointer;" href="{{ url_for('general.product',id=p.id ,name=p.name) }}">
        <section>
            <img src="{{ url_for('static', filename='cover/'+p.id|string+'.jpg') }}">
            <span class="tag delivery"><img
                    src="{{ url_for('static',filename="theme-image/delivery.png") }}">ارسال رایگان</span>
            <h3>{{ p.name }}</h3>
            <p>{{ p.description|truncate(100) }}</p>
        </section>
    </a>
    <a class="add-to-cart-btn" href="/add-to-cart?id={{ p.id }}"> افزودن به سبد خرید<img
            src="{{ url_for('static',filename="theme-image/cart.png") }}"></a>
</div>